/Butterflies/Saved/Config/CrashReportClient/UECC-Windows-63EEC3894C8EC5A2E4C9ABB05744E4CA/CrashReportClient.ini
/Butterflies/Saved/Logs/Butterflies-backup-2022.10.02-09.56.22.log
/Butterflies/Saved/WorldPartition/StreamingGeneration-PIE-2022.10.02-14.03.17.log
